{% load staticfiles cms_tags menu_tags sekizai_tags %}
<!doctype html>
<html>
    <head>
    	<meta charset="UTF-8"/>
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        
        <!-- START MACHINA BLOCK -->
	    {% block machina-css %}
	    {% endblock machina-css %}
	
	    {% block machina-extra_css %}
	    {% endblock machina-extra_css %}
	     <!-- END MACHINA BLOCK -->

    	<link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.3.7/css/font-awesome.min.css" %}">
    	<link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.3.7/css/bootstrap.min.css" %}">
    	<link rel="stylesheet" type="text/css" href="{% static "menu/menu1.css" %}">
    	<link rel="stylesheet" type="text/css" href="{% static "foundation-icons/foundation-icons.css" %}">
        {% render_block "css" %}
    </head>

    <body>
    <div class="container-fluid">
		<div class="row">
			<div class="col-12">{% cms_toolbar %}</div>
			<div class="col-12">{% show_menu 0 100 100 100 %}</div>
		</div>
	    
	    <!-- START MACHINA BLOCK --> 	
	    {% block machina-js %}
	    {% endblock machina-js %}
		<div class="row">
			<div class="col-12">
				{% block body %}
		  		{# The forum content will go in this 'body' block #}
				{% endblock body %}
			</div>
		</div>  
	    {% block machina-extra_js %}
	    {% endblock machina-extra_js %}	  		
		<!-- END MACHINA BLOCK -->
		
		<div class="container">
			<div class="row">
				<div class="col-12">{% block content %}{% endblock content %}</div>
			</div>  
		</div>
     
		<!-- <script src="{% static "jquery/jquery.min.js" %}"></script> -->
	  	<script src="{% static "bootstrap-3.3.7/js/bootstrap.min.js" %}"></script>     
	</div>
    {% render_block "js" %}
    </body>
</html>
